@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Contoso University</h1>
</div>
<p> On this site you can view and update information about the student, instructors, courses, and departments. Go ahead and give it a try!</p>